<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>D3.js Visualization</title>
    <script src="https://d3js.org/d3.v7.min.js"></script>
</head>
<body> 
    <select id="visualizationSelect">
        <option value="tab1">Gender Statistics</option>
        <option value="tab2">Ethnicity Statistics</option>
    </select>
    <div id="visualizationContainer"></div>

    <script type="module">
        import {loadVisualization} from "../public/driver.js";
        document.getElementById("visualizationSelect").addEventListener("change", loadVisualization);
        loadVisualization();
    </script>
</body>
</html>